/* 
html5doctor.com Reset Stylesheet
v1.4.1 
2010-03-01
Author: Richard Clark - http://richclarkdesign.com
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
    font: 12px/1 Tahoma, Helvetica, Arial, “\5b8b\4f53″, sans-serif;
}

:focus {
	outline: 1;
}

article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted #000;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
.clearfix:after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
}
.clearfix {
  zoom: 1;
}
header{
    width: 100%;
}
.nav ul{
    height: 67px;
    width: 980px;
/*    border: 1px solid red;
*/   
    margin: 0 auto;
    list-style: none;
}
.nav li a{
    text-decoration: none;
    float: left;
    line-height: 67px;
    color: #333333;
    margin:  0 20px 0 20px;
    font-size: 14px;
}
.headText{
    color: #47a2e6 !important;
    font-size: 18px !important;
    margin: 0 40px 0 -5px !important;
}
.banner{
/*    border: 1px solid red;
*/  
    width: 100%;
    height: 365px;  
}
.banner img{
    margin-top: -20px;
}
footer{
    width: 100%;
    height: 400px;
    background-color: #333333;
    position: relative;
}
footer ul{
    float: right;
    margin-right: 25px;
    list-style: none;
}
.leftFooter {
    float: left;
    position: relative;
    top: 40px;
    left: 0px;
    border-right: 1px solid #999999;
    width: 579px;
    height: 260px;
}
.leftFooter li a{
    text-decoration: none;
    color: #999;
    font-size: 12px;
    line-height: 25px;
}
.rightFooter li a{
    text-decoration: none;
    color: #999;
    font-size: 12px;
    line-height: 25px;
}
.rightFooter {
    float: left;
    position: relative;
    left: 0px;
    top: 40px;
    width: 400px;
    height: 260px;
    font-size: 12px;
}
.footTitle{
    font-size: 18px !important;
}
.showOne{
    height: 500px;
    width: 100%;    
}
.showOne .sologan{
    background: #fff;
}
.oneTop{
    width: 980px;
    height: 100px;
    margin: 0 auto;
}
.oneTop hr{
    margin-top: 50px;
}
.sologan{
    width: 230px;
    height: 50px;
    z-index: 999;
    position: relative;
    top: -30px;
    left: 330px;
}
.sologanAout{
    font-weight: 900;
    font-size: 25px;
    color: #168ee4;
    text-align: center;
}
.sologanAboutEng{
    text-align: center;
    color: #979797;
    margin-top: 10px;
}
.oneMid{
    width: 800px;
    height: 100px;
    margin: 0 auto;
    position: relative;
    top: -30px;
    line-height: 25px;
}
.oneMid a{
    text-decoration: none;
    color: #168ee4;
}
.footer{
    width: 980px;
    height: 400px;
    margin: 0 auto;
}
.oneBot{
    width: 980px;
    margin: 0 auto;
    overflow: hidden;
}
.showTwo{
    height: 500px;
    width: 100%;
    background-color: #f6f6f6;
    margin-top: 50px;    
}
.showTwo hr {
    margin-top: 50px;
    position: relative;
    top: 50px;
}
.showTwo .sologan {
    width: 230px;
    height: 50px;
    z-index: 999;
    position: relative;
    top: 10px;
    left: 330px;
    background-color: #f6f6f6;
}
.box{
    position: relative;
    width: 220px;
    height: 250px;
    background-color: #fff;
    box-shadow:0px 5px 10px #999;
    float: left;
    margin-right: 25px;
}
.boxText{
    width: 220px;
    margin: 0 auto;
}
.boxText .title{
    padding-top: 10px;
    font-size: 15px;
    text-align: center;
}
.boxText .content{
    width: 220px;
    color: #6b6b6b;
    margin: 0 auto;
    padding-top: 10px;
}
.icon{
    position: absolute;
    top: -25px;
    left: 90px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0px 5px 20px #666;
}
.icon img{
    position: relative;
    top: 8px;
    left: 8px;
}
.twoMid{
    position: relative;
    top: 50px;
    width: 980px;
    height: 400px;
    margin: 0 auto;
}
.bg{
    background: url('../img/shakehands.png');
    width: 100%;
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-filter: blur(15px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(15px);    
}
.showTre{
    position: absolute;
    top: 1500px;
    height: 400px;
    width: 100%;
}
.showTre .oneTop{
    position: relative;
    top: 50px;
}
.showFor{
    height: 500px;
    width: 100%;
    background-color: #f6f6f6;
}
.showFor hr {
    margin-top: 50px;
    position: relative;
    top: 50px;
}
.showFor .sologan {
    width: 230px;
    height: 50px;
    z-index: 999;
    position: relative;
    top: 10px;
    left: 330px;
    background-color: #f6f6f6;
}
.colBox{
    width: 440px;
    height: 100px;
    float: left;
    margin: 10px 10px 30px 40px;
}
.colBox img{
    float: left;
    display: inline-block;
}
.colBox .colText{
    float: left;
    width: 240px;
    height: 80px;
    padding: 10px 0px 10px 8px;
    background: #fff;
}
.colBox .colText a{
    text-decoration: none;
    color: #ecb97a;
}
.colTextLineOne{
    color: #434343;
    font-size: 14px;
}
.colTextLineTwo{
    color: #838383;
    font-size: 10px;
    margin: 10px 0px 10px 0px;
}
.colText a{
    float: right;
}
.colText span{
    color: #6a6a6a;
}
.homeCol{
    width: 980px;
    height: 250px;
    margin: 0 auto;
}
.bgCol{
    float: left;
    margin-right: 40px;
    width: 250px;
    height: 150px;
    background: url('../img/showBox.png');
}
.bgBag{
    position: relative;
    top: 100px;
    width: 100%;
    height: 50px;
    background-color: #1e73ac;
    filter:alpha(opacity=90); 
    -moz-opacity:0.9; 
    opacity:0.9;
}
.bgText{
    text-align: center;
    color: #fff;
    font-size: 15px;
    padding-top: 10px;
}
.colTre{
    width: 980px;
    height: 300px;
    margin: 0 auto;
}